{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ project.name }}
{% endblock %}

{% block body %}
	<div class="container mx-auto">
		<div class="flex flex-wrap justify-center my-16 p-8">
			<h1 class="text-4xl font-bold text-primary mb-8">{{ project.name }}</h1>
			<p>{{ project.description }}</p>
		</div>
		<div class="flex flex-wrap justify-center md:justify-evenly p-8">
			<span class="text-2xl font-bold text-primary">Chantier réalisé à
				{{ project.place }}
			</span>
			{# <p class="text-2xl font-bold text-gray-800">Durée : 3 ans</p> #}
			<p class="text-2xl text-gray-800">Date d'achèvement :
				{{ project.createdAt|date('d/m/Y') }}
			</p>
		</div>
		<div class="flex flex-wrap justify-center mb-8">
			{% for image in project.image %}
				<div class="w-4/5 md:w-1/3 p-4">
					<div class="bg-white shadow-lg rounded-lg overflow-hidden">
						<div class="bg-cover bg-center h-64">
							<img
								data-modal-target="#modal-{{ image.id }}"
								id="{{ image.id }}"
								src="{{ image.picture ? asset('uploads/project/' ~ image.picture) : 'https://via.placeholder.com/500x500' }}"
								alt="{{ project.name }}"
								class="w-full h-64 object-cover object-center"
								onclick="openModal('{{ image.id }}')"
							>
						</div>
					</div>
				</div>
			{% endfor %}
			<!-- add modal for each image in project.image -->
			{% for image in project.image %}
				<div id="modal-{{ image.id }}" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 opacity-0 pointer-events-none transition duration-300 ease-in-out">
					<div class="absolute w-full h-full bg-gray-900 opacity-50"></div>
					<div class="bg-white w-11/12 md:max-w-xl mx-auto rounded shadow-lg z-50 overflow-y-auto">
						<div class="py-4 px-6 flex justify-between items-center">
							<button
								data-close-button
								id="close-button"
								data-target="#modal-{{ image.id }}"
								class="px-3 py-1 rounded-full bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 focus:outline-none"
								onclick="closeModal('{{ image.id }}')"
							>
								&times;
							</button>
						</div>
						<div id="modal-body" class="py-4 px-6">
							<div class="flex flex-wrap justify-center">
								<img
									src="{{ image.picture ? asset('uploads/project/' ~ image.picture) : 'https://via.placeholder.com/500x500' }}"
									alt="{{ project.name }}"
									class="w-full h-full object-cover object-center"
								>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script>
		function openModal(id) {
			const modal = document.getElementById('modal-' + id);
			modal.classList.remove('opacity-0');
			modal.classList.remove('pointer-events-none');
			modal.classList.add('opacity-100');
			modal.classList.add('pointer-events-auto');
		}

		function closeModal(id) {
			const modal = document.getElementById('modal-' + id);
			modal.classList.remove('opacity-100');
			modal.classList.remove('pointer-events-auto');
			modal.classList.add('opacity-0');
			modal.classList.add('pointer-events-none');
		}
	</script>
{% endblock %}
