<div id="project" class="container mx-auto my-32 p-4">
	<h3 class="text-3xl font-bold text-start text-primary mb-8">Nos réalisations</h3>
	<p class="text-lg text-start text-black mb-8">
		Nos réalisations sont le reflet de notre savoir-faire et de notre expertise. Nous sommes fiers de vous présenter nos réalisations.
	</p>
	<div class="flex flex-col md:flex-row">
		<div id="default-carousel" class="relative w-full" data-carousel="static">
			<div class="relative h-56 overflow-hidden rounded-md md:h-96">
				{% for project in projects %}
					<div class="hidden duration-1000 ease-in-out group" data-carousel-item>
						<img src="{{ project.image|first ? asset('uploads/project/' ~ project.image|first.picture) : 'https://via.placeholder.com/1920x1080' }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{ project.name }}">
						<div class="absolute w-full h-full p-2 md:p-16 opacity-0 group-hover:opacity-100 from-primary to-transparent bg-gradient-to-b">
							<h3 class="text-2xl md:w-1/2 font-bold text-white">{{ project.name }}</h3>
							<span class="font-bold md:w-1/2 text-white">{{ project.place }}</span>
							<p class="text-sm md:w-1/2 md:text-lg text-white mb-8">{{ project.description|slice(0, 255) ~ '...' }}</p>
						<a href="{{ path('project', {slug: project.slug}) }}" class="bg-white hidden md:block md:w-48 py-2 px-4 rounded-md text-primary font-bold hover:bg-primary hover:text-white">Voir la réalisation</a>
						</div>
					</div>
				{% endfor %}
				<div class="absolute top-0 left-0 flex items-center justify-center w-full h-full">
					<button class="absolute left-0 z-30 flex items-center justify-center w-12 h-12 text-primary opacity-50 hover:opacity-100 focus:outline-none" data-carousel-prev>
						<svg class="w-6 h-6 md:w-12 md:h-12" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
						</svg>
					</button>
					<button class="absolute right-0 z-30 flex items-center justify-center w-12 h-12 text-primary opacity-50 hover:opacity-100 focus:outline-none" data-carousel-next>
						<svg class="w-6 h-6 md:w-12 md:h-12" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
						</svg>
					</button>
				</div>
				<div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
					{% for project in projects %}
						<button type="button" class="w-4 h-1 md:w-8 md:h-2" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="{{ loop.index0 }}"></button>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
