<div id="project" class="container mx-auto my-32 p-4">
	<h3 class="text-3xl font-bold text-start text-primary mb-8">Nos réalisations</h3>
	<p class="text-lg text-start text-black mb-8">
		Nos réalisations sont le reflet de notre savoir-faire et de notre expertise. Nous sommes fiers de vous présenter nos réalisations.
	</p>
	<div class="bg-primary p-2 rounded-md">
		<div id="default-carousel" class="relative w-full" data-carousel="slide">
			<div class="relative h-56 overflow-hidden rounded-md md:h-96">
				{% for project in projects %}
					{% set image = project.image|first %}
					<div class="hidden duration-1000 ease-in-out" data-carousel-item>
						<img src="{{ image.picture }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{ project.name }}">
						<div class="absolute w-full h-full p-8 from-black to-transparent bg-gradient-to-r opacity-75">
							<h3 class="text-2xl font-bold text-white">{{ project.name }}</h3>
							<p class="text-lg text-white">{{ project.description }}</p>
							<strong class="text-lg text-white">{{ project.place }}</strong>
						</div>
					</div>
				{% endfor %}
				<div class="absolute top-0 left-0 flex items-center justify-center w-full h-full">
					<button class="absolute left-0 z-30 flex items-center justify-center w-12 h-12 text-white bg-secondary rounded-full opacity-50 hover:opacity-100 focus:outline-none" data-carousel-prev>
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
						</svg>
					</button>
					<button class="absolute right-0 z-30 flex items-center justify-center w-12 h-12 text-white bg-secondary rounded-full opacity-50 hover:opacity-100 focus:outline-none" data-carousel-next>
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
